@page "/"
@inherits IndexPage
@using BlazorThreeJS.Viewers

<Viewer @ref="View3D1" ViewerSettings=@settings Scene=scene />

<div class="d-flex">
    <div>
        <p>
            <pre>@SelectedObject?.Uuid.ToString()</pre>
            <button class="btn btn-primary" @onclick="OnDeleteSelected">Delete Selected Item</button> 
            <button class="btn btn-primary" @onclick="OnClearScene">Clear Scene</button> 
            @* <button class="btn btn-primary" @onclick="OnClearSceneAll">Clear Scene Extras</button>  *@
            <button class="btn btn-primary" @onclick="OnAddTorus">Add Torus</button> 
            <button class="btn btn-primary" @onclick="OnUpdateText">Update Text</button> 
        </p>

        <p>
            <div>Select an object to move it:</div>    
            <button class="btn btn-primary" @onclick="()=>OnMoveSelected(0,-1)">Move -X</button> 
            <button class="btn btn-primary" @onclick="()=>OnMoveSelected(0,1)">Move X</button> 
            <button class="btn btn-primary" @onclick="()=>OnMoveSelected(1,-1)">Move -Y</button> 
            <button class="btn btn-primary" @onclick="()=>OnMoveSelected(1,1)">Move Y</button> 
            <button class="btn btn-primary" @onclick="()=>OnMoveSelected(2,-1)">Move -Z</button> 
            <button class="btn btn-primary" @onclick="()=>OnMoveSelected(2,1)">Move Z</button> 
        </p>
    </div>

    <div>
        <p>
            <div>@Msg</div>
        </p>
    </div>
</div>